@model IEnumerable<WingtipToysMVC.Models.Categoria>

@{
    ViewBag.Title = "Categorias";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>
    @foreach (var cat in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => cat.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => cat.Descricao)
            </td>
            <td></td>
        </tr>
    }
</table>
